[project]
	description = TYPO3 Form Engine Examples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/psychomieze
[access "refs/for/refs/*"]
	read = group user/psychomieze
	push = group user/psychomieze
	label-Code-Review = -2..+2 group user/psychomieze
	label-Verified = -1..+1 group user/psychomieze
	rebase = group user/psychomieze
	removeReviewer = group user/psychomieze
	submit = group user/psychomieze
[access "refs/heads/*"]
	read = group user/psychomieze
	create = group user/psychomieze
	push = +force group user/psychomieze
	pushMerge = group user/psychomieze
[access "refs/tags/*"]
	push = group user/psychomieze
	push = +force group user/psychomieze
